<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сайт про котиков</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Котик - твой лучший друг! Правда-правда, так и есть!</h1>
    <!-- заголовок -->
    <p class="large blue rounded">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, dolor
      nam! Dolore at delectus recusandae veniam ut officiis sequi expedita
      iusto! Excepturi repellendus non aut similique est aspernatur cumque
      laboriosam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel
      quaerat maiores aperiam modi odit. Molestias praesentium nostrum enim
      architecto. Cumque velit, commodi illum iusto inventore minima et omnis
      beatae repudiandae? <br />
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, incidunt
      blanditiis! Nemo itaque mollitia minus minima, repellat ipsam? Laborum
      iure exercitationem suscipit eaque facilis repellat quos hic eveniet optio
      ducimus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit
      minus necessitatibus quidem veniam, iusto et animi aliquam, adipisci
      repudiandae sapiente vero pariatur temporibus dolor aut quaerat, fuga nisi
      sint molestias.
    </p>
    <p class="large blue">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      pariatur doloribus molestias provident sint deserunt accusamus soluta
      deleniti atque consectetur excepturi ex fugit explicabo dolore molestiae
      modi ut, odio libero! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Error alias, neque ipsam temporibus aliquam repellendus odio, sunt
      cumque inventore dolore iste deserunt modi, vero laboriosam suscipit
      voluptatem nostrum debitis voluptate.
    </p>
    <!-- абзац -->
    <!-- список нумерованный -->
    <ol>
      Почему мы обожаем котиков?
      <li>Котики теплые</li>
      <li>Котики мягкие</li>
      <li>Котики тебя любят (да)</li>
    </ol>
    <!-- список маркированный -->
    <ul>
      <li>Kisa</li>
      <li>Kotic</li>
      <li>Kot</li>
    </ul>
    <h2>Вы только посмотрите на них:</h2>
    <img
      src="./фото/black kitti.jpg"
      alt="Чорный котенок с высунотым языком"
      title="Чорный котенок"
    />
    <img src="./фото/black сat.jpg" alt="Чорный кот" title="Котик удивлен" />
    <img src="./фото/white сat.png" alt="Белый кот" title="Белый милый котик" />
    <p>
      <a href="https://koshkanasha.ru/" target="_blank">Почитать про котиков</a>
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum obcaecati
      deleniti quas labore unde quis, rerum voluptate quo, non porro sed at? Ea
      veritatis vitae soluta! Aliquid distinctio cumque dicta! Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Veniam repellendus ullam
      libero exercitationem expedita accusamus nobis, doloremque similique hic,
      explicabo animi, cum fugit! Nihil praesentium ea quas nesciunt fugiat
      culpa?
    </p>
    <a href="https://koshkanasha.ru/" target="_blank">Сайт про котов</a>
    <div class="grey">
      <h2>Блок 1</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus amet
        quaerat aliquid, tempore minima temporibus qui, id nemo maiores vitae
        voluptate? Aliquam, recusandae. Illum odit sunt fuga officia error
        officiis.
      </p>
      <img src="./фото/black сat.jpg" alt="Kot" />
    </div>
    <div class="green">
      <h2>Блок 2</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus amet
        quaerat aliquid, tempore minima temporibus qui, id nemo maiores vitae
        voluptate? Aliquam, recusandae. Illum odit sunt fuga officia error
        officiis.
      </p>
      <img src="./фото/black kitti.jpg" alt="Kot" />
    </div>
    <div class="orange">
      <h2>Блок 3</h2>
      <p class="large rounded">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus amet
        quaerat aliquid, tempore minima temporibus qui, id nemo maiores vitae
        voluptate? Aliquam, recusandae. Illum odit sunt fuga officia error
        officiis.
      </p>
      <img src="./фото/white сat.png" alt="Kot" />
    </div>
  </body>
</html>
